h1 {
  color: white;
  text-align: center;
}
body {
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: black;
  background: url("https://images.unsplash.com/photo-1514837736096-6085b1b1f1a8?auto=format&fit=crop&w=1350&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: blue;
}

ul {
  list-style-type: none;
}